html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.container {
	text-align: center;
}

.thumbnail {
	position: relative;
	width: 22%;
	height: auto;
	overflow: hidden;
	display: inline-block;
	margin: 0 1% 0;
	padding: 0;
}

.thumbnail1:hover .info {
	opacity: 1;
}

.thumbnail2:hover .info {
	top: 0;
}

.imagen {
	display: block;
	width: 100%;
	height: auto;
}

.info {
	background-color: hsla(180, 50%, 0%, 0.6);
	position: absolute;
	color: white;
	width: 100%;
	height: 100%;
	padding: 65% 8% 0;
}

.thumbnail1 .info {
	opacity: 0;
	top: 0;
	left: 0;
	transition: opacity 300ms ease-in-out;
}

.thumbnail2 .info {
	top: 100%;
	left: 0;
	transition: top 300ms ease-in-out;
}

.titulo {
	position: relative;
	font-family: sans-serif;
	font-size: 32px;
	margin: 0;
	margin-bottom: 12px;
	transition: all 600ms ease;
	opacity: 0;
	top: 20px;
	transition-delay: 200ms;
}

.thumbnail:hover .titulo,
.thumbnail:hover .subtitulo {
	top: 0;
	opacity: 1;
}

.subtitulo {
	position: relative;
	font-size: 21px;
	margin: 0;
	top: 20px;
	transition: all 800ms ease;
	transition-delay: 200ms;
	opacity: 0;
}

.titulo,
.subtitulo {
	text-align: left;
}

.link {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}

.link2 {
	display: inline-block;
	width: 200px;
	height: 80px;
	color: black;
	font-size: 21px;
	text-transform: uppercase;
	font-family: sans-serif;
	text-decoration: none;
	margin-top: 100px;
	position: relative;
	overflow: hidden;
	border-radius: 6px;
	box-shadow:  0 6px 0 0px darkblue;
}

.link2:before {
	content: 'hola';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	padding-top: 30px;
	background-color: blue;
	color: white;
	transition: top 300ms ease;
}

.link2:after {
	content: 'chao';
	position: absolute;
	display: block;
	top: 100%;
	width: 100%;
	height: 100%;
	padding-top: 30px;
	background-color: skyblue;
	color: white;
	transition: top 300ms ease;
}

.link2:hover:before {
	top: -100%;
}

.link2:hover:after {
	top: 0;
}

.link2:active {
	box-shadow: 0 0 0 0 darkblue;
	top: 4px;
}